page {
  height: 100vh;
  padding-bottom: 50px;
  background-color: var(--bg-gray);
}

#addr-wrap {
  padding: 10px 15px;
  font-size: 26rpx;
  background-color: #fff;
  color: var(--text-gray);

  .addr {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .iconfont {
      font-size: 26rpx;
    }
  }
}

#goods-list {
  height: calc(100% - 55px);
  .goods-card {
    width: 100%;
    height: 220rpx;
    background-color: #fff;
    margin-top: 10px;

    .warp {
      display: flex;
      align-items: center;
      padding: 20rpx 30rpx;
      width: 100%;
      height: 220rpx;

      .check-box {
        padding-right: 10rpx;
      }

      .img {
        height: 180rpx;
        width: 180rpx;
        margin-right: 20rpx;
        border-radius: 20rpx;
        overflow: hidden;

        .van-image {
          width: 100%;
          height: 100%;
        }
      }

      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .title {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 28rpx;
        }

        .price-num-wrap {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
    }
  }
}

.weui-slideview__btn-group_warn .weui-slideview__btn {
  background-color: var(--theme-color);
}

.van-action-sheet {
  height: 70%;
}

.van-submit-bar {
  z-index: 10 !important;
  border-top: 1px solid #f8f8f8;
}
